.holder{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    border: 5px solid black;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    overflow: hidden;
}
.item{
    flex-basis: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    flex: 1 1 calc(33.33%);
}
.item:nth-child(1){
    background-color: green;
order: -2;
flex-basis: calc(50%);
}
.item:nth-child(2) {
    background-color: red;
 order: 1;
}
.item:nth-child(3) {
    background-color: purple;

}
.item:nth-child(4) {
    background-color: gold;
   order:2 ;
}
.item:nth-child(5) {
    background-color: gray;
order: -1;
flex-basis: calc(50%);
}
